.client > h2, .client > .summary {
    text-align: center;
}
.client-logo { display: block; margin: auto; max-height: 15vh; }
.client > .setup {
    text-align: center;
}
.client > .setup img {
    max-width: 500px;
    max-height: 3rem;
    margin: 1rem 1rem;
}
.client > .setup blockquote {
    margin: 0;
}
.platform > img {
    max-width: 100px;
}
.usecases details {
    cursor: pointer;
}
.usecases > details > summary {
    list-style: none;
}
.usecase > img {
    max-width: 150px;
}
.server {
    max-height: 3rem;
}
.buttons {
    margin-top: 1rem;
    text-align: center;
    > .button { margin: 0 0.2rem; }
}

.button {
     border-radius: 12px;
     padding: 0.5rem 1rem;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     border: 2px solid black;
     vertical-align: middle;
}
.button > img:not(:only-child) {
    padding-right: 5px;
}
.button > span, .button img {
    vertical-align: middle;
}
